{% extends "navbar.html" %}

{% block content %}
    <div class="display-books">
        <div class="book">
            <img class="book-cover" src="https://cdn.pixabay.com/photo/2019/03/01/18/32/night-4028339_1280.jpg">
            <p class="book-title">Title 1</p>
        </div>

        <div class="book">
            <img class="book-cover" src="https://cdn.pixabay.com/photo/2019/07/21/13/04/landscape-4352732_1280.jpg">
            <p class="book-title">Title 2</p>
        </div>

        <div class="book">
            <img class="book-cover" src="https://cdn.pixabay.com/photo/2017/10/31/02/26/fantasy-2904092_1280.jpg">
            <p class="book-title">Title 3</p>
        </div>
    </div>
{% endblock %}